body{

font-family:Arial;
margin:0;
background:#f4f6f9;

}


.login-page{

width:300px;
margin:120px auto;
background:white;
padding:30px;
border-radius:10px;
text-align:center;

}


.login-page input{

width:100%;
padding:10px;
margin:10px 0;

}


.login-page button{

width:100%;
padding:10px;
background:#2e86de;
color:white;
border:none;

}


.dashboard{

display:none;
height:100vh;

}


.sidebar{

width:220px;
background:#2c3e50;
color:white;
height:100%;
float:right;
padding:20px;

}


.sidebar button{

width:100%;
padding:10px;
margin:10px 0;
border:none;
background:#34495e;
color:white;

}


.content{

margin-right:240px;
padding:20px;

}


.page{

display:none;

}


input,select{

width:300px;
padding:8px;
margin:5px 0;

}


button{

padding:10px 20px;
margin-top:10px;

}


.log-item{

background:white;
padding:10px;
margin:10px 0;
border-radius:6px;

}